.product-list-header{
    height: 17rem;
    background-color: #f5f5f5;
}
.product-list-title{
    font-size: 5rem;
    margin-left: 5rem;
    padding-top: 2.3rem;
}
.product-list-description{
    font-size: 2.3rem;
    margin-left: 5rem;
    margin-top: -1.5rem;
}
#btnViewCart{
    height: 3.5rem;
    float: right;
    margin: 3rem 3rem 0 0;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.product-display{
    display: inline-flex;
    width: 23%;
}